@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex_align($align: center) {
  -webkit-box-align: $align;
  -moz-box-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flex_justify($align: center) {
  -webkit-justify-content: $align;
  justify-content: $align;
}

@mixin flex_center() {
  @include flex;
  @include flex_align;
  @include flex_justify;
}

@mixin bg-img() {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin auto_margin_top($distance) {
  margin-top: $distance;
  &:nth-child(1) {
    margin-top: 0;
  }
}

@mixin auto_margin_left($distance) {
  margin-left: $distance;
  &:nth-child(1) {
    margin-left: 0;
  }
}

@mixin auto_margin_right($distance) {
  margin-right: $distance;
  &:last-child {
    margin-right: 0;
  }
}
